html, body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

p{
	text-align: left;
}

/*Hero/parallax effect*/
.parallax{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.hero{
	position: absolute;
	width: 100vw;
	height: 280vh;
	background-image: url("../img/profile-pic.JPG");
	background-repeat:no-repeat;
	background-size: contain;
	margin-top: -25px;
	z-index: 51;
}

/* List */
#bryan-guan{
	position: relative;
	margin-top: 16vh;
	left: 54vw;
	z-index: 51;

}

#about{
	position: absolute;
	margin-top: 37vh;
	left: 58vw;
	z-index: 51;

}

#project{
	position: absolute;
	margin-top: 49vh;
	left: 58vw;
	z-index: 51;

}

#among-other-things{
	position: absolute;
	margin-top: 59vh;
	left: 58vw;
	z-index: 51;

}

#contact{
	position: absolute;
	margin-top: 69vh;
	left: 58vw;
	z-index: 51;
}

/*About Section*/
#about-section{
	background-color: #FFFFFB;
	margin-bottom: 1000px;
	font-family: monospace;
	margin: 25px 15vw 40vh 15vw;
}

#about-section > h1{
	font-size: 60px;
}

#comment{
	font-size: 25px;
	color: #26734d;
}

/*Project Section*/
#close{
	position: fixed;
	top:0;
	right: 0;
	color: #fff;
	display: none;
	z-index: 50;
}

#project-section{
	padding-left: 15vw;
	font-size: 60px;
}

.col-md-4{
	text-align: center;
	padding: 50px 15px;
}

.col-md-4 > h3{
	font-weight: normal;
	font-size: 30px;
}

#highlight-section{
	padding-right: 0;
	padding-left: 0;
	max-width: 100%;
	position: relative;
	transition: background-color 300ms;
	height:90vh;
}

.iconWrapper{
	position: relative;
	display: inline-block;
}

.description{
	margin-top: 20px;
	position: absolute;
	text-align: left;
	width: 100vw;
	font-size: 17px;
}

.relative{
	position: relative;
}

#project1{
	position: absolute;
	display: none;
	color:#fff;
	transition: all 300ms;
}

#java-project, #python-project, #alexa-project{
	position: absolute;
	display: none;
	display:none;
	color: #fff;
	transition: all 300ms;
}

#triangles{
	position: relative;
}

/* Among Other Things */
#other-things-pic{
	margin-top: 110px;
	background-image: url('../img/among other things.png');
	background-size: 100% auto;
	height: 275px;
	background-repeat: no-repeat;
}

#other-things-sec{
	margin: 25px 15vw 40vh 15vw;
	padding-bottom: 15vh;
}

#other-things-sec > h1{
	font-size: 60px;
}

#other-things-sec > p{
	margin-right: 30vw;
	margin-top: 30px;
	font-size: 20px;
	width: 100%;
}
/* Footer */
.footer{
	max-width: 100%;
	width: 100%;
	height: 70vh;
	text-align: center;
	color: #fff;
	background-color: #434242;
}

.footer > h1{
	font-weight: lighter;
}

.closer-columns{
	margin-left: 60px;
	margin-right: 60px;
}

/*Media Queries*/
/*Laptop*/
@media(max-width: 1440px){
	/*Hero*/
	.hero{
		margin-top: 0;
		background-size:2000px 1401px; 
		background-position: -320px -300px;
	}
	
	/*About Section*/
	#about-section > h1{
	font-size: 59px;
	}
	#comment{
		font-size: 24px;
	}
	
	/*Project Section*/
	#close{
		display: block;
	}
	/*Java-GUI*/
	#diagram{
		width: 350px;
		height: 356px;
		float: right;
	}
	
	#input{
		width: 230px;
	}
	
	#java-project > .row > .col-md-5:nth-child(3){
		padding-right: 0;
	}
	
	#java-project > .row > .col-md-5 > #diagram{
		float: right;
	}
	
	/*Alexa*/
	#skills{
		width:650px;
		height:363px;
	}
}

@media(max-width: 1025px){
	/*Hero*/
	.hero{
		margin-top: 0;
		background-size:1467px 1027px; 
		background-position: -238px -25px;
	}
	
	/*List*/
	#bryan-guan{
		width:323px;
		height:110px;
	}

	#about{
		margin-top: 33vh;
		width:160px;
		height:49px;
	}
	
	#project{
		margin-top: 45vh;
		width:160px;
		height:54px;
	}
	
	#among-other-things{
		margin-top: 55vh;
		width:400px;
		height:59px;
	}
	
	#contact{
		margin-top: 65vh;
		width:180px;
		height:58px;
	}

	/*About*/
	#about-section > h1{
	font-size: 44px;
	}
	#comment{
		font-size: 23px;
	}
	
	/*Project Section*/
	#highlight-section{
		height: 100vh;
	}
	
	.description > .col-md-4{
		padding-top: 0;
	}
	
	#input{
		width:182px;
		height:382px;
	}
	#diagram{
		width: 315px;
		height: 320px;
	}
	
	#java-project> div > div > p{
		font-size:15px;
	}
	
	#count{
		width: 417px;
		height: 167px;
	}
	
	#trials{
		width:497px;
		height:167px;
	}

	#skills{
		width: 494px;
		height: 271px;
	}
	
	/*Among Other Things*/
	#other-things-pic{
		background-size: 1201px 248px;
		background-position: 0 -20px;
		height: 205px;
	}
	
	#other-things-sec > p{
		font-size: 22px;
	}
	
	#other-things-sec > h1{
		font-size: 46px;
	}
}

@media(max-width: 882px){
	/*Project Section*/
	#diagram{
		width: 242px;
		height: 246px;
	}
	
	#input{
		width: 164px;
		height: 344px;
	}
}

@media(max-width: 769px){
	/*List*/
	#bryan-guan{
		margin-top: 20vh;
		left: 56vw;
		width:272px;
		height:93px;
	}

	#about{
		left: 65vw;
		margin-top: 38vh;
		width:136px;
		height:42px;
	}
	
	#project{
		left: 65vw;
		margin-top: 48vh;
		width:136px;
		height:46px;
	}
	
	#among-other-things{
		margin-top: 58vh;
		left: 65vw;
		width:250px;
		height:46px;
	}
	#contact{
		left: 65vw;
		margin-top: 68vh;
		width:136px;
		height:54px;
	}
	
	#about-section > h1{
		font-size: 24px;
	}
	#comment{
		font-size: 19px;
	}
	
	/*Project Section*/
	#highlight-section{
		height: 275vh;
	}
	#alexa-project{
		top: 275px;
	}
	
	#java-project{
		top: 500px;
	}
	#diagram{
		position: absolute;
		top:0;
		left:300px;
		width: 290px;
		height: 295px;

	}
	#input{
		position: absolute;
		left: 60px;
		width: 197px;
		height: 413px;
	}
	
	#python-project{
		top: 880px;
	}
	
}

@media(max-width:619px){
	
	/*Hero*/
	.hero{
		background-position: -400px 0px;
	}
	
	#bryan-guan{
		margin-top: 20vh;
		left: 35vw;
		width:272px;
		height:93px;
	}

	#about{
		left: 50vw;
		margin-top: 38vh;
		width:136px;
		height:42px;
	}
	
	#project{
		left: 50vw;
		margin-top: 48vh;
		width:136px;
		height:46px;
	}
	#among-other-things{
		margin-top: 58vh;
		left: 50vw;
		width:250px;
		height:46px;
	}
	
	#contact{
		left: 50vw;
		margin-top: 68vh;
		width:136px;
		height:54px;
	}
	#comment{
		font-size: 16px;
	}

	/*Project Section*/
	.project > h1{
		font-size: 30px;;
	}
	.project > h5{
		font-size: 19px;
	}
	.project >div>div> p{
		font-size:15px;
	}
	
	#skills{
		width: 425px;
		height: auto;
	}
	
	#input{
		width: 130px;
		height: auto;
		left: 20px;
	}
	#diagram{
		left: 160px;
		width: 275px;
		height: auto;
	}
	
	#count{
		width: 425px;
		height: auto;
	}
	
	#trials{
		width: 425px;
		height: auto;
	}
	/*Among Other Things*/
	#other-things-pic{
		margin-top: 120vh;
		background-size: 1067px 221px;
		background-position: -75px 0px;
	}
	#other-things-sec{
		position: relative;
		top: -30px;
		margin-bottom: 75px;
	}
	
	#other-things-sec > p{
		font-size: 23px;
	}
	
	#other-things-sec > h1{
		font-size: 29px;
	}
}

@media(max-width:425px){
	.hero{
	background-size:1795px 1258px;
	background-position: -538px -150px;
	}

	/*List*/
	#bryan-guan{
		left: 42vw;
		width:204px;
		height:70px;
	}
	
	#about{
		left: 59vw;
		margin-top: 30vh;
		width:102px;
		height:32px;
	}
	
	#project{
		left: 59vw;
		margin-top: 40vh;
		width:102px;
		height:35px;
	}
	
	#among-other-things{
		margin-top: 50vh;
		left: 59vw;
		width:188px;
		height:35px;
	}
	
	#contact{
		left: 59vw;
		margin-top: 60vh;
		width:102px;
		height:41px;
	}
	/*About Section*/
	#about-section > h1{
	font-size: 21px;
	}
	#comment{
		font-size: 16px;
	}
	
	/*Project Section*/
	#skills{
		width: 375px;
		height: auto;
	}
	
	#count{
		width: 375px;
		height: auto;
	}
	
	#input{
		margin-left: 20px;
		height: auto;
	}
	#diagram{
		margin-left: 20px;
		top: 280px;
		left:auto;
	}
	
	#count{
		width: 375px;
		height: auto;
	}
	
	#trials{
		width: 375px;
		height: auto;
	}
	#other-things-pic{
		margin-top: 10vh;
	}

	/*Other Things Section*/
	#other-things-sec > p{
		font-size: 20px;
	}
}

@media(max-width:375px){
	/*List*/
	#bryan-guan{
		left: 35vw;
	}
	#about{
		left: 54vw;
	}

	#project{
		left: 54vw;

	}
		#contact{
		left: 54vw;
		margin-top: 55vh;
	}
	#among-other-things{
		left: 54vw;
		margin-top: 48vh;
	}
	
	/*Project Section*/
	#skills{
		width: 320px;
		height: auto;
	}
	
	#count{
		width: 320px;
		height: auto;
	}
	
	#count{
		width: 320px;
		height: auto;
	}
	
	#trials{
		width: 320px;
		height: auto;
	}

	/*Other Things Section*/
	#other-things-sec > p{
		font-size: 18px;
	}

}
